*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/modules
/.idea/shelf/
/.idea/workspace.xml
.DS_Store
/build
/app/build/
/captures
.externalNativeBuild
Partides-UNO_doc.txt
