<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.partides_uno">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PartidaActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_partida"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.partides_uno.MainActivity" />
        </activity>
        <activity
            android:name=".ConfigNovaPartidaActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_config_nova_partida"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.partides_uno.MainActivity" />
        </activity>
        <activity
            android:name=".DarreresPartidesActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_darreres_partides"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.partides_uno.MainActivity" />
        </activity>
        <activity
            android:name=".SumaRondaPuntsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_suma_ronda_punts"
            android:parentActivityName=".PartidaActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.partides_uno.PartidaActivity" />
        </activity>
        <activity
            android:name=".ReglesJocActivity"
            android:label="@string/title_activity_regles_joc"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.partides_uno.MainActivity" />
        </activity>
    </application>

</manifest>